[submodule "account-closing"]
	path = account-closing
	url = https://github.com/zeroincombenze/account-closing.git
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/zeroincombenze/account-financial-reporting.git
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/zeroincombenze/account-financial-tools.git
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/zeroincombenze/account-invoicing.git
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/zeroincombenze/account-payment.git
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/zeroincombenze/bank-payment.git
[submodule "connector"]
	path = connector
	url = https://github.com/zeroincombenze/connector.git
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/zeroincombenze/knowledge.git
[submodule "l10n-italy"]
	path = l10n-italy
	url = https://github.com/zeroincombenze/l10n-italy.git
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/zeroincombenze/partner-contact.git
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/zeroincombenze/product-attribute.git
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/zeroincombenze/reporting-engine.git
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/zeroincombenze/report-print-send.git
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/zeroincombenze/server-tools.git
[submodule "stock-logistics-barcode"]
	path = stock-logistics-barcode
	url = https://github.com/zeroincombenze/stock-logistics-barcode.git
[submodule "stock-logistics-tracking"]
	path = stock-logistics-tracking
	url = https://github.com/zeroincombenze/stock-logistics-tracking.git
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/zeroincombenze/stock-logistics-warehouse.git
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/zeroincombenze/stock-logistics-workflow.git
[submodule "web"]
	path = web
	url = https://github.com/zeroincombenze/web.git
[submodule "webkit-tools"]
	path = webkit-tools
	url = https://github.com/zeroincombenze/webkit-tools.git
[submodule "website"]
	path = website
	url = https://github.com/zeroincombenze/website.git
[submodule "crm"]
	path = crm
	url = https://github.com/zeroincombenze/crm.git
