[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/OCA/account-analytic.git
[submodule "account-budgeting"]
	path = account-budgeting
	url = https://github.com/OCA/account-budgeting.git
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/OCA/account-closing.git
[submodule "account-consolidation"]
	path = account-consolidation
	url = https://github.com/OCA/account-consolidation.git
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
[submodule "account-fiscal-rule"]
	path = account-fiscal-rule
	url = https://github.com/OCA/account-fiscal-rule.git
[submodule "account-invoice-reporting"]
	path = account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/OCA/account-invoicing.git
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/OCA/account-payment.git
[submodule "account-reconcile"]
	path = account-reconcile
	url = https://github.com/OCA/account-reconcile.git
[submodule "ansible-odoo"]
	path = ansible-odoo
	url = https://github.com/OCA/ansible-odoo.git
[submodule "apps-store"]
	path = apps-store
	url = https://github.com/OCA/apps-store.git
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/OCA/bank-payment.git
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = https://github.com/OCA/bank-statement-import.git
[submodule "bank-statement-reconcile"]
	path = bank-statement-reconcile
	url = https://github.com/OCA/bank-statement-reconcile.git
[submodule "business-requirement"]
	path = business-requirement
	url = https://github.com/OCA/business-requirement.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/OCA/calendar.git
[submodule "commission"]
	path = commission
	url = https://github.com/OCA/commission.git
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/OCA/community-data-files.git
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector.git
[submodule "connector-accountedge"]
	path = connector-accountedge
	url = https://github.com/OCA/connector-accountedge.git
[submodule "connector-cmis"]
	path = connector-cmis
	url = https://github.com/OCA/connector-cmis.git
[submodule "connector-ecommerce"]
	path = connector-ecommerce
	url = https://github.com/OCA/connector-ecommerce.git
[submodule "connector-infor"]
	path = connector-infor
	url = https://github.com/OCA/connector-infor.git
[submodule "connector-interfaces"]
	path = connector-interfaces
	url = https://github.com/OCA/connector-interfaces.git
[submodule "connector-lengow"]
	path = connector-lengow
	url = https://github.com/OCA/connector-lengow.git
[submodule "connector-lims"]
	path = connector-lims
	url = https://github.com/OCA/connector-lims.git
[submodule "connector-magento"]
	path = connector-magento
	url = https://github.com/OCA/connector-magento.git
[submodule "connector-magento-php-extension"]
	path = connector-magento-php-extension
	url = https://github.com/OCA/connector-magento-php-extension.git
[submodule "connector-odoo2odoo"]
	path = connector-odoo2odoo
	url = https://github.com/OCA/connector-odoo2odoo.git
[submodule "connector-prestashop"]
	path = connector-prestashop
	url = https://github.com/OCA/connector-prestashop.git
[submodule "connector-redmine"]
	path = connector-redmine
	url = https://github.com/OCA/connector-redmine.git
[submodule "connector-sage"]
	path = connector-sage
	url = https://github.com/OCA/connector-sage.git
[submodule "connector-salesforce"]
	path = connector-salesforce
	url = https://github.com/OCA/connector-salesforce.git
[submodule "connector-telephony"]
	path = connector-telephony
	url = https://github.com/OCA/connector-telephony.git
[submodule "connector-woocommerce"]
	path = connector-woocommerce
	url = https://github.com/OCA/connector-woocommerce.git
[submodule "contract"]
	path = contract
	url = https://github.com/OCA/contract.git
[submodule "crm"]
	path = crm
	url = https://github.com/OCA/crm.git
[submodule "currency"]
	path = currency
	url = https://github.com/OCA/currency.git
[submodule "ddmrp"]
	path = ddmrp
	url = https://github.com/OCA/ddmrp.git
[submodule "delivery-carrier"]
	path = delivery-carrier
	url = https://github.com/OCA/delivery-carrier.git
[submodule "donation"]
	path = donation
	url = https://github.com/OCA/donation.git
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/OCA/dotnet.git
[submodule "e-commerce"]
	path = e-commerce
	url = https://github.com/OCA/e-commerce.git
[submodule "edi"]
	path = edi
	url = https://github.com/OCA/edi.git
[submodule "event"]
	path = event
	url = https://github.com/OCA/event.git
[submodule "geospatial"]
	path = geospatial
	url = https://github.com/OCA/geospatial.git
[submodule "hr"]
	path = hr
	url = https://github.com/OCA/hr.git
[submodule "hr-timesheet"]
	path = hr-timesheet
	url = https://github.com/OCA/hr-timesheet.git
[submodule "infrastructure-dns"]
	path = infrastructure-dns
	url = https://github.com/OCA/infrastructure-dns.git
[submodule "interface-github"]
	path = interface-github
	url = https://github.com/OCA/interface-github.git
[submodule "intrastat"]
	path = intrastat
	url = https://github.com/OCA/intrastat.git
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/OCA/knowledge.git
[submodule "l10n-italy"]
	path = l10n-italy
	url = https://github.com/OCA/l10n-italy.git
[submodule "maintainer-quality-tools"]
	path = maintainer-quality-tools
	url = https://github.com/OCA/maintainer-quality-tools.git
[submodule "maintainer-tools"]
	path = maintainer-tools
	url = https://github.com/OCA/maintainer-tools.git
[submodule "maintenance"]
	path = maintenance
	url = https://github.com/OCA/maintenance.git
[submodule "management-system"]
	path = management-system
	url = https://github.com/OCA/management-system.git
[submodule "manufacture"]
	path = manufacture
	url = https://github.com/OCA/manufacture.git
[submodule "manufacture-reporting"]
	path = manufacture-reporting
	url = https://github.com/OCA/manufacture-reporting.git
[submodule "margin-analysis"]
	path = margin-analysis
	url = https://github.com/OCA/margin-analysis.git
[submodule "mis-builder"]
	path = mis-builder
	url = https://github.com/OCA/mis-builder.git
[submodule "multi-company"]
	path = multi-company
	url = https://github.com/OCA/multi-company.git
[submodule "oca-custom"]
	path = oca-custom
	url = https://github.com/OCA/oca-custom.git
[submodule "oca-decorators"]
	path = oca-decorators
	url = https://github.com/OCA/oca-decorators.git
[submodule "odoorpc"]
	path = odoorpc
	url = https://github.com/OCA/odoorpc.git
[submodule "odoo-sentinel"]
	path = odoo-sentinel
	url = https://github.com/OCA/odoo-sentinel.git
[submodule "odoo-sphinx-autodoc"]
	path = odoo-sphinx-autodoc
	url = https://github.com/OCA/odoo-sphinx-autodoc.git
[submodule "OpenUpgrade"]
	path = OpenUpgrade
	url = https://github.com/OCA/OpenUpgrade.git
[submodule "openupgradelib"]
	path = openupgradelib
	url = https://github.com/OCA/openupgradelib.git
[submodule "operating-unit"]
	path = operating-unit
	url = https://github.com/OCA/operating-unit.git
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact.git
[submodule "pos"]
	path = pos
	url = https://github.com/OCA/pos.git
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/OCA/product-attribute.git
[submodule "product-kitting"]
	path = product-kitting
	url = https://github.com/OCA/product-kitting.git
[submodule "product-variant"]
	path = product-variant
	url = https://github.com/OCA/product-variant.git
[submodule "project"]
	path = project
	url = https://github.com/OCA/project.git
[submodule "project-agile"]
	path = project-agile
	url = https://github.com/OCA/project-agile.git
[submodule "project-reporting"]
	path = project-reporting
	url = https://github.com/OCA/project-reporting.git
[submodule "purchase-reporting"]
	path = purchase-reporting
	url = https://github.com/OCA/purchase-reporting.git
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
[submodule "pylint-odoo"]
	path = pylint-odoo
	url = https://github.com/OCA/pylint-odoo.git
[submodule "queue"]
	path = queue
	url = https://github.com/OCA/queue.git
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/OCA/reporting-engine.git
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/OCA/report-print-send.git
[submodule "rma"]
	path = rma
	url = https://github.com/OCA/rma.git
[submodule "runbot-addons"]
	path = runbot-addons
	url = https://github.com/OCA/runbot-addons.git
[submodule "sale-financial"]
	path = sale-financial
	url = https://github.com/OCA/sale-financial.git
[submodule "sale-reporting"]
	path = sale-reporting
	url = https://github.com/OCA/sale-reporting.git
[submodule "sale-workflow"]
	path = sale-workflow
	url = https://github.com/OCA/sale-workflow.git
[submodule "server-auth"]
	path = server-auth
	url = https://github.com/OCA/server-auth.git
[submodule "server-backend"]
	path = server-backend
	url = https://github.com/OCA/server-backend.git
[submodule "server-brand"]
	path = server-brand
	url = https://github.com/OCA/server-brand.git
[submodule "server-env"]
	path = server-env
	url = https://github.com/OCA/server-env.git
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/OCA/server-tools.git
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/OCA/server-ux.git
[submodule "social"]
	path = social
	url = https://github.com/OCA/social.git
[submodule "stock-logistics-barcode"]
	path = stock-logistics-barcode
	url = https://github.com/OCA/stock-logistics-barcode.git
[submodule "stock-logistics-reporting"]
	path = stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
[submodule "stock-logistics-tracking"]
	path = stock-logistics-tracking
	url = https://github.com/OCA/stock-logistics-tracking.git
[submodule "stock-logistics-transport"]
	path = stock-logistics-transport
	url = https://github.com/OCA/stock-logistics-transport.git
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
[submodule "survey"]
	path = survey
	url = https://github.com/OCA/survey.git
[submodule "vertical-abbey"]
	path = vertical-abbey
	url = https://github.com/OCA/vertical-abbey.git
[submodule "vertical-agriculture"]
	path = vertical-agriculture
	url = https://github.com/OCA/vertical-agriculture.git
[submodule "vertical-association"]
	path = vertical-association
	url = https://github.com/OCA/vertical-association.git
[submodule "vertical-community"]
	path = vertical-community
	url = https://github.com/OCA/vertical-community.git
[submodule "vertical-construction"]
	path = vertical-construction
	url = https://github.com/OCA/vertical-construction.git
[submodule "vertical-edition"]
	path = vertical-edition
	url = https://github.com/OCA/vertical-edition.git
[submodule "vertical-education"]
	path = vertical-education
	url = https://github.com/OCA/vertical-education.git
[submodule "vertical-hotel"]
	path = vertical-hotel
	url = https://github.com/OCA/vertical-hotel.git
[submodule "vertical-isp"]
	path = vertical-isp
	url = https://github.com/OCA/vertical-isp.git
[submodule "vertical-medical"]
	path = vertical-medical
	url = https://github.com/OCA/vertical-medical.git
[submodule "vertical-ngo"]
	path = vertical-ngo
	url = https://github.com/OCA/vertical-ngo.git
[submodule "vertical-realestate"]
	path = vertical-realestate
	url = https://github.com/OCA/vertical-realestate.git
[submodule "vertical-travel"]
	path = vertical-travel
	url = https://github.com/OCA/vertical-travel.git
[submodule "web"]
	path = web
	url = https://github.com/OCA/web.git
[submodule "webhook"]
	path = webhook
	url = https://github.com/OCA/webhook.git
[submodule "webkit-tools"]
	path = webkit-tools
	url = https://github.com/OCA/webkit-tools.git
[submodule "website"]
	path = website
	url = https://github.com/OCA/website.git
[submodule "website-cms"]
	path = website-cms
	url = https://github.com/OCA/website-cms.git
[submodule "website-themes"]
	path = website-themes
	url = https://github.com/OCA/website-themes.git
