[submodule "account-financial-tools"]
	path = account-financial-tools
	url = https://github.com/zeroincombenze/account-financial-tools
	branch = 7.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/zeroincombenze/account-invoicing
	branch = 7.0
[submodule "account-payment"]
	path = account-payment
	url = https://github.com/zeroincombenze/account-payment
	branch = 7.0
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/zeroincombenze/bank-payment
	branch = 7.0
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/zeroincombenze/knowledge
	branch = 7.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/zeroincombenze/partner-contact
	branch = 7.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = https://github.com/zeroincombenze/stock-logistics-workflow
	branch = 7.0
[submodule "web"]
	path = web
	url = https://github.com/zeroincombenze/web
	branch = 7.0
[submodule "webkit-tools"]
	path = webkit-tools
	url = https://github.com/zeroincombenze/webkit-tools
	branch = 7.0
[submodule "l10n-italy-supplemental"]
	path = l10n-italy-supplemental
	url = https://github.com/zeroincombenze/l10n-italy-supplemental
	branch = 7.0
[submodule "l10n-italy"]
	path = l10n-italy
	url = https://github.com/zeroincombenze/l10n-italy
	branch = 7.0
[submodule "account-closing"]
	path = account-closing
	url = https://github.com/zeroincombenze/account-closing
	branch = 7.0
[submodule "account-financial-report"]
	path = account-financial-report
	url = https://github.com/zeroincombenze/account-financial-report
	branch = 7.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = https://github.com/zeroincombenze/reporting-engine
	branch = 7.0
[submodule "report-print-send"]
	path = report-print-send
	url = https://github.com/zeroincombenze/report-print-send
	branch = 7.0
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/zeroincombenze/server-tools
[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector
        branch = 7.0
[submodule "product-attribute"]
	path = product-attribute
	url = https://github.com/zeroincombenze/product-attribute
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/zeroincombenze/stock-logistics-warehouse
[submodule "stock-logistics-barcode"]
	path = stock-logistics-barcode
	url = https://github.com/zeroincombenze/stock-logistics-barcode
[submodule "stock-logistics-tracking"]
	path = stock-logistics-tracking
	url = https://github.com/zeroincombenze/stock-logistics-tracking
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/zeroincombenze/account-financial-reporting
[submodule "crm"]
	path = crm
	url = https://github.com/zeroincombenze/crm
[submodule "management-system"]
	path = management-system
	url = https://github.com/zeroincombenze/management-system
[submodule "commission"]
	path = commission
	url = https://github.com/OCA/commission
[submodule "contract"]
	path = contract
	url = git@github.com:zeroincombenze/contract.git
[submodule "zerobug-test"]
	path = zerobug-test
	url = git@github.com:zeroincombenze/zerobug-test.git
