# [antoniov: 2022-05-19]
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.a
*.obj
*.exe
/.venv
/.pytest_cache

# C extensions
*.o
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
cover/

# Translations
*.mo

# Pycharm
.idea

# Eclipse
.settings

# Visual Studio cache/options directory
.vs/
.vscode

# OSX Files
.DS_Store

# Django stuff:
*.log

# Komodo
*.komodoproject
.komodotools


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/

# Bazaar
.bzr/

# Backup files
*~
*.swp

# OCA rules
!static/lib/

# Junks
*.bak
*.out
*.conf
.tmp
.tracehis
.tracehistory
test*.pdf
tmp.*
/.settings/
stdout.log
*.oca
*.z0i
#
# odoo repositories
/account-analytic
/account-budgeting
/account-closing
/account-consolidation
/account-financial-reporting
/account-financial-tools
/account-fiscal-rule
/account-invoice-reporting
/account-invoicing
/account-payment
/account-reconcile
/bank-payment
/bank-statement-import
/business-requirement
/calendar
/commission
/community-data-files
/connector
/contract
/coverage
/credit-control
/crm
/currency
/data-protection
/delivery-carrier
/e-commerce
/edi
/geospatial
/helpdesk
/hr
/intrastat-extrastat
/knowledge
/l10n-italy
/l10n-italy-supplemental
/maintenance
/management-system
/manufacture
/manufacture-reporting
/margin-analysis
/mgmtsystem
/mis-builder
/mis-builder-contrib
/multi-company
/partner-contact
/pos
/product-attribute
/product-kitting
/product-variant
/profiles
/project
/project-agile
/project-reporting
/purchase-reporting
/purchase-workflow
/queue
/reporting-engine
/report-print-send
/rma
/sale-financial
/sale-reporting
/sale-workflow
/search-engine
/server-auth
/server-tools
/server-ux
/social
/stock-logistics-barcode
/stock-logistics-reporting
/stock-logistics-tracking
/stock-logistics-transport
/stock-logistics-warehouse
/stock-logistics-workflow
/storage
/timesheet
/uncovered
/venv_odoo
/web
/webhook
/webkit-tools
/website
/website-cms
/wms
/zerobug-test
