# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
# compiled python files
*.py[co]
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
openerp/filestore
# maintenance migration scripts
openerp/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
account-invoicing/
account-payment/
partner-contact/
account-financial-tools/
knowledge/
bank-payment/
server-tools/
web/
website/
l10n-italy/
zeroincombenze/
l10n-italy-supplemental/
stock-logistics-workflow/
webkit-tools/
cscs_addons/
account-closing/
report-print-send/
connector/
product-attribute/
stock-logistics-warehouse/
stock-logistics-barcode/
stock-logistics-tracking/
account-financial-reporting/
themes/
stdout.log
*.oca
*.z0i
reporting-engine/
account_banking_cscs/
crm/
management-system/
.gitrepname
commission/
OCB/
account_invoice_create_payment/
account_payment_approve_invoice/
social/
website-cms/
event/
pylint-odoo/
operating-unit/
sale-reporting/
bank-statement-import/
account-invoice-reporting/
hr/
hr-timesheet/
manufacture/
survey/
margin-analysis/
pos/
rma/
queue/
e-commerce/
delivery-carrier/
contract/
vertical-education/
zerobug-test/
profiles/
uncovered/
