.stickty_table_header {
    overflow-y: scroll;
}
.stickty_table_header thead tr.oe-listview-header-columns > th { 
    position: sticky;
    top: 0;
    background: #eeeeee;
    z-index: 99;
}
.stickty_table_header thead > tr > td{ 
    position: sticky;
    top: 0;
    background: #eeeeee;
    z-index: 99;
}

.oe-listview-header-columns > th {
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    background: #eeeeee;
}
.oe-listview-header-columns > td {
    border-bottom: 1px solid #d1d1d1;
    background: #eeeeee;
}